---
import { mySocials } from '@/content/socials';
---

{
  mySocials.map((social) => {
    return (
      <a href={social.link} target="_blank" rel="noreferrer">
        <span class="sr-only">Follow me on {social.label}</span>
        <social.Icon
          className="size-5 fill-gray-600 hover:fill-gray-800 dark:fill-gray-300 dark:hover:fill-gray-200"
          aria-hidden="true"
        />
      </a>
    );
  })
}
