---
import { Download, Mail } from 'lucide-react';

import { BearStudio } from '@/components/icons/brands/bearstudio';
import { HighlightedText } from '@/components/ui/highlighted-text';
import { Link } from '@/components/ui/link';
---

<section>
  <div class="container mx-auto px-4 py-24 md:px-6 lg:py-32 2xl:max-w-[1400px]">
    <div class="flex justify-center">
      <a
        class="inline-flex items-center gap-x-1 rounded-full border border-b-4 px-2 py-1 ps-3 text-sm transition"
        href="https://www.bearstudio.fr/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <span class="relative me-1 flex size-3">
          <span
            class="bg-accent-foreground absolute inline-flex h-full w-full animate-ping rounded-full opacity-75 delay-1000 duration-[2000ms]"
          ></span>
          <span
            class="bg-accent-foreground relative inline-flex h-3 w-3 rounded-full"
          ></span>
        </span>
        Currently working at Bearstudio
        <BearStudio className="size-4" />
      </a>
    </div>

    <div class="mx-auto mt-5 max-w-2xl text-center">
      <h1
        class="font-head scroll-m-20 text-4xl font-bold tracking-tight lg:text-5xl"
      >
        Hello! I'm Noé Tatoud
      </h1>
    </div>

    <div class="mx-auto mt-5 max-w-3xl text-center">
      <p class="text-muted-foreground text-xl">
        Full-stack <HighlightedText>web developer</HighlightedText> with a passion
        for crafting sleek web experiences.
      </p>
    </div>
    <div class="mt-8 flex justify-center gap-3">
      <Link href="mailto:noe.tatoud@gmail.com" size="lg">
        <Mail /> Contact me
      </Link>
      <Link
        size="lg"
        variant="outline"
        href="/resources/resume-noe-tatoud.pdf"
        download
      >
        <Download /> My Resume
      </Link>
    </div>
  </div>
</section>
