---
import WipContainer from '@/components/ui/wip-container.astro';
---

<WipContainer>
  <div
    class="border-input flex flex-1 flex-col items-center justify-center rounded-lg border"
  >
    <h1 class="font-head text-4xl">Hello! I'm Noé TATOUD</h1>
  </div>
</WipContainer>
