---
import {
  Timeline,
  TimelineHeader,
  TimelineItem,
  TimelineTime,
  TimelineTitle,
} from '@/components/timeline';
import { Card, CardContent, CardTitle } from '@/components/ui/card';
import { myWorks } from '@/content/work';
---

<Timeline>
  {
    myWorks.map((work) => (
      <TimelineItem>
        <TimelineHeader>
          <TimelineTime>{work.date}</TimelineTime>
          <TimelineTitle>{work.title}</TimelineTitle>
        </TimelineHeader>
        <div class="flex flex-col gap-2">
          {work.projects.map((project) => (
            <Card>
              <CardContent>
                <CardTitle>{project.title}</CardTitle>
              </CardContent>
            </Card>
          ))}
        </div>
      </TimelineItem>
    ))
  }
</Timeline>
