---
import { ArrowRight } from 'lucide-react';

import { Link } from '@/components/ui/link';
import PostCard from '@/features/blog/post-card.astro';
import { getBlogPostCollection } from '@/features/blog/posts';

const posts = await getBlogPostCollection({ limit: 1 });
---

{
  posts.length > 0 && (
    <section>
      <div class="container mx-auto flex h-fit flex-col gap-4 px-4 py-12 md:px-6 2xl:max-w-[1400px]">
        <div class="flex">
          <h2 class="font-head mr-auto text-xl font-extrabold tracking-tight lg:text-3xl">
            Latest blog posts
          </h2>
          <Link href="/blog" variant="ghost">
            More articles <ArrowRight aria-hidden="true" />
          </Link>
        </div>
        <ul class="flex flex-col justify-center gap-4 md:flex-row md:flex-wrap md:items-stretch">
          {posts.map((post) => (
            <li class="md:w-[calc(50%-0.5rem)]">
              <PostCard post={post.data} />
            </li>
          ))}
          {posts.length <= 1 && (
            <li class="aspect-video md:w-[calc(50%-0.5rem)]">
              <PostCard />
            </li>
          )}
        </ul>
      </div>
    </section>
  )
}
