---
import { getUiState } from '@bearstudio/ui-state';

import { getBlogPostCollection } from '@/features/blog/posts';
import { PostCard } from '@/features/blog/posts/post-card';

const posts = await getBlogPostCollection();

const ui = getUiState((set) => {
  if (!posts.length) return set('empty');

  return set('default');
});
---

<section>
  {
    ui
      .match('empty', () => {
        return (
          <div class="text-muted-foreground my-10 flex w-full flex-col items-center gap-4">
            There are no blog posts to see yet !
          </div>
        );
      })
      .match('default', () => {
        return (
          <ul class="flex h-fit flex-col justify-center gap-4 md:flex-row">
            {posts.map((post) => (
              <li>
                <PostCard {...post.data} id={post.id} />
              </li>
            ))}
          </ul>
        );
      })
      .exhaustive()
  }
</section>
