---
interface Props {
  className?: string;
}

const { className } = Astro.props;

const classNames = [
  'container mx-auto flex max-w-4xl min-w-0 px-4 lg:px-0',
  className,
];
---

<div class:list={classNames}>
  <slot />
</div>
