---
import SocialLinks from '@/components/brand/social-links.astro';
import MaxWidth from '@/layout/containers/max-width.astro';

const today = new Date();
---

<footer class="flex w-full py-4">
  <MaxWidth
    className="flex-col-reverse items-center justify-between gap-2 md:flex"
  >
    <p class="text-xs tracking-tighter">
      &copy; {today.getFullYear()} TATOUD Noé. All rights reserved.
    </p>
    <div class="flex gap-3">
      <SocialLinks />
    </div>
  </MaxWidth>
</footer>
