---
import SocialLinks from "@/components/SocialLinks.astro";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} TATOUD Noé. All rights reserved.
  <div>
    <SocialLinks />
  </div>
</footer>
