---
import SocialLinks from '@/components/brand/social-links.astro';
import { SITE_TITLE } from '@/consts';
import HeaderLink from '@/layout/header-link.astro';

type HeaderLinkItem = {
  label: string;
  href: string;
};
const headerLinks: Array<HeaderLinkItem> = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'Blog',
    href: '/blog',
  },
  {
    label: 'About',
    href: '/about',
  },
];
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div>
      {
        headerLinks.map((link) => {
          <HeaderLink href={link.href}>{link.label}</HeaderLink>;
        })
      }
    </div>
    <SocialLinks />
  </nav>
</header>
