---
import ThemesScript from '@/lib/theme/script.astro';
import { ThemeSwitcher } from '@/components/theme-switcher';
import { SITE_TITLE } from '@/consts';
import MaxWidth from '@/layout/containers/max-width.astro';
import HeaderLink from '@/layout/header-link.astro';

type HeaderLinkItem = {
  label: string;
  href: string;
};
const headerLinks: Array<HeaderLinkItem> = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'Blog',
    href: '/blog',
  },
];
---

<header
  data-header
  class="sticky top-0 z-10 flex w-full items-center justify-center gap-8 py-4 transition-all has-[nav:hover]:!opacity-100 [.scrolled]:opacity-70"
>
  <div
    class="handle pointer-events-none absolute bottom-16 left-1/2 h-1 w-16 -translate-x-1/2 rounded-full bg-gray-400 opacity-0 transition in-[.scrolled]:opacity-50 in-[.scrolled:hover]:!opacity-0"
  >
  </div>

  <MaxWidth
    className="max-w-5xl transition-all in-[.scrolled]:-translate-y-[100%] in-[.scrolled:hover]:!translate-y-0"
  >
    <nav
      class="in-[.expanded]:border-input in-[.scrolled]:border-input bg-background flex w-full items-center justify-between rounded-2xl px-8 py-4 in-[.expanded]:border in-[.expanded]:border-b-4 in-[.expanded]:shadow-md in-[.scrolled]:border in-[.scrolled]:shadow-md"
    >
      <h2 class="font-head text-xl font-semibold tracking-tighter uppercase">
        <a href="/" class="hidden items-center md:flex">
          {SITE_TITLE}
          <span class="animate-caret-blink duration-300">_</span>
        </a>
      </h2>
      <div class="flex items-center gap-3">
        {
          headerLinks.map((link) => {
            return <HeaderLink href={link.href}>{link.label}</HeaderLink>;
          })
        }
        <ThemeSwitcher client:load className="ml-4" />
      </div>
    </nav>
  </MaxWidth>

  <!-- Navbar behavior script -->
  <script is:inline>
    let lastScrollY = window.scrollY;
    const header = document.querySelector('[data-header]');

    const HEADER_HEIGHT = 50;
    window.addEventListener('scroll', () => {
      const currentScroll = window.scrollY;
      const isScrollingDown = currentScroll > lastScrollY;

      if (currentScroll > HEADER_HEIGHT && isScrollingDown) {
        header?.classList.add('scrolled');
        header?.classList.remove('expanded');
      } else if (!isScrollingDown) {
        header?.classList.add('expanded');
        header?.classList.remove('scrolled');
      }

      if (currentScroll < HEADER_HEIGHT) {
        header?.classList.remove('expanded');
        header?.classList.remove('scrolled');
      }
      lastScrollY = currentScroll;
    });
  </script>
  <ThemesScript />
</header>
