---
import { SITE_TITLE } from '@/consts';
import MaxWidth from '@/layout/containers/max-width.astro';
import HeaderLink from '@/layout/header-link.astro';

type HeaderLinkItem = {
  label: string;
  href: string;
};
const headerLinks: Array<HeaderLinkItem> = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'Blog',
    href: '/blog',
  },
  {
    label: 'About',
    href: '/about',
  },
];
---

<header
  class="fixed flex w-full items-center justify-center gap-8 bg-white py-4"
>
  <MaxWidth>
    <nav class="flex w-full items-center justify-between">
      <h2><a href="/">{SITE_TITLE}</a></h2>
      <div class="flex gap-3 text-xs">
        {
          headerLinks.map((link) => {
            return <HeaderLink href={link.href}>{link.label}</HeaderLink>;
          })
        }
      </div>
    </nav>
  </MaxWidth>
</header>
