---
import { SITE_TITLE } from '@/consts';
import MaxWidth from '@/layout/containers/max-width.astro';
import HeaderLink from '@/layout/header-link.astro';

type HeaderLinkItem = {
  label: string;
  href: string;
};
const headerLinks: Array<HeaderLinkItem> = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'Blog',
    href: '/blog',
  },
  {
    label: 'About',
    href: '/about',
  },
];
---

<header class="fixed flex w-full items-center justify-center gap-8 py-4">
  <MaxWidth className="max-w-5xl">
    <nav
      class="borde-input flex w-full items-center justify-between rounded-full border bg-white px-8 py-4 shadow-lg"
    >
      <h2 class="font-head text-xl font-semibold tracking-tighter uppercase">
        <a href="/" class="flex items-center">
          {SITE_TITLE}<span class="animate-caret-blink duration-300">_</span>
        </a>
      </h2>
      <div class="flex gap-3">
        {
          headerLinks.map((link) => {
            return <HeaderLink href={link.href}>{link.label}</HeaderLink>;
          })
        }
      </div>
    </nav>
  </MaxWidth>
</header>
