---
import SocialLinks from '@/components/brand/social-links.astro';
import { SITE_TITLE } from '@/consts';
import HeaderLink from '@/layout/header-link.astro';

type HeaderLinkItem = {
  label: string;
  href: string;
};
const headerLinks: Array<HeaderLinkItem> = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'Blog',
    href: '/blog',
  },
  {
    label: 'About',
    href: '/about',
  },
];
---

<header class="flex w-full items-center justify-start gap-8 py-4 lg:max-w-5xl">
  <nav class="flex w-full">
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="ml-auto flex gap-2">
      {
        headerLinks.map((link) => {
          return <HeaderLink href={link.href}>{link.label}</HeaderLink>;
        })
      }
    </div>
  </nav>
  <div class="flex gap-2">
    <SocialLinks />
  </div>
</header>
