---
import SocialLinks from '@/components/social-links.astro';
import { SITE_TITLE } from '@/consts';
import HeaderLink from '@/layout/header-link.astro';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <SocialLinks />
  </nav>
</header>
