---
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import BaseHead from '@/layout/base-head.astro';
import SafeAreaContainer from '@/layout/containers/safe-area-container.astro';
import Footer from '@/layout/footer.astro';
import Header from '@/layout/header.astro';

import '@/styles/app.css';
import '@fontsource/maple-mono/400.css';
import '@fontsource/maple-mono/500.css';

interface Props {
  title?: string;
  description?: string;
}

const { description = SITE_DESCRIPTION, title = SITE_TITLE } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead description={description} title={title} />
    <slot name="head" />
  </head>
  <body class="flex min-h-dvh flex-col">
    <SafeAreaContainer>
      <Header />
      <main class="flex h-full w-full flex-1 flex-col">
        <slot />
      </main>
      <Footer />
    </SafeAreaContainer>
  </body>
</html>
