---
import { WipTag } from '@/components/ui/wip-tag';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import BaseHead from '@/layout/base-head.astro';
import MaxWidth from '@/layout/containers/max-width.astro';
import SafeAreaContainer from '@/layout/containers/safe-area-container.astro';
import Footer from '@/layout/footer.astro';
import Header from '@/layout/header.astro';

import '@/styles/app.css';
import '@fontsource/jetbrains-mono/400.css';
import '@fontsource/jetbrains-mono/600.css';
import '@fontsource/maple-mono/400.css';
import '@fontsource/maple-mono/500.css';

interface Props {
  title?: string;
  description?: string;
}

const { description = SITE_DESCRIPTION, title = SITE_TITLE } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead description={description} title={title} />
    <slot name="head" />
  </head>
  <body class="flex min-h-dvh flex-col">
    <WipTag client:load />
    <SafeAreaContainer>
      <Header />
      <main class="mt-28 flex h-full flex-1">
        <MaxWidth className="flex-col">
          <slot />
        </MaxWidth>
      </main>
      <Footer />
    </SafeAreaContainer>
  </body>
</html>
